{% extends "base.html" %}

{% block content %}
<section class="page-section bg-white mb-0" id="contact">
    <div class="container">
        <!-- Contact Us Section Content-->
        <p class="lead mb-0">Getting in touch with us is easy. Please tell us what you want from SmartKits, and we are happy to help you.
        </p>
        <br />
        <table class="table table xl ">
            <thead>
                <tr>
                    <th>Contact Method</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fab fa-fw fa-facebook-f" aria-hidden="true"></i> Facebook</td>
                    <td><a href="https://www.facebook.com/hilaryh.yip" target="_blank"> Hilary H Yip </a></td>
                </tr>
                <tr>
                    <td><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</td>
                    <td><a href="https://www.instagram.com/hilaryhyip/" target="_blank"> Hilary H Yip </a></td>
                </tr>
                <tr>
                    <td><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</td>
                    <td><a href="https://www.linkedin.com/in/hilary-yip-411ba7153/" target="_blank"> Hilary Yip </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-fw fa-whatsapp" aria-hidden="true"></i> WhatsApp</td>
                    <td><a href="https://wa.me/85268003621?text=I%20want%20to%20learn%20more%20about%20SmartKits!" target="_blank"> +852 6800 3621</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope" aria-hidden="true"></i> Email</td>
                    <td><a href="mailto:hilary11yip@gmail.com?subject=Enquiry%20on%20SmartKits&body=Hi%20Hilary%2C%0D%0A%0D%0AI%20want%20to%20learn%20more%20about%20SmartKits.%0D%0A%0D%0ARegards%2C%0D%0A%5BYour%20name%5D" target="_blank"> hilary11yip@gmail.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <p class="lead mb-0">Want to have a face-to-face conversation?</p>
        <br />
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i> Address</p>
            1301, 13/F,
            <br />
            Leighton Center, Causeway Bay,
            <br />
            Hong Kong
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.5742875733549!2d114.18223165001402!3d22.27781802090113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404005122184e57%3A0x9a1e7cc5d7cca11a!2sLeighton%20Centre%2C%2077%20Leighton%20Rd%2C%20Bowrington!5e0!3m2!1sen!2shk!4v1703996315992!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Loading...</iframe>
    </div>
</section>
{% endblock %}