{% extends "base.html" %}

{% block content %}
<section class="page-section bg-white mb-0" id="story">
    <div class="container">
        <!-- About Section Content-->
        <div class="row">
            <h3>
                <p>Play by exam rules <i>but</i> in a more interesting way</p>
            </h3>
            <p>Bored of mass-printed material?</p>
            <p>Having no time to prepare learning material?</p>

            <p>SmartKits is a web application created on Python Flask library and Bootstrap HTML model.</p>
            <p>The project is initiated by Ms. Hilary Yip, a Data Analyst who had worked as a private tutor for 5 years.
            </p>
            <p>Private tutor is a popular part-time job for local university students. Many people think it is a
                temporary job and no effort is needed, Hilary thinks in a totally different way. She has spent a lot of
                effort in preparing course materials and imrpoving presentation skills. As a result, 30% of her students
                had their weakest subjects improved by at least 10 points within a year.</p>
            <p>Hilary keeps finding the best course materials. One day she found a "treasure room" in a CUHK library -
                it is a library full of workbooks for different subjects and levels. The books are intended to be
                reference books for the Education Faculty, but there are many university students standing in front of
                photocopying machine.</p>
            <strong>
                <p>"University students should not be trained to be photocopying machines!"
            </strong></p>
            <strong>
                <p>"I should do something to make my course materials stand out from commercially available workbooks!"
                </p>
                <p>This is how Hilary started SmartKits. She has been trying on different course material presentation,
                    and summarized what she found most students would love.</p>
                <p>In 2023, Hilary decided to learn Python and Java. She decided to actualize her dreams, and share her
                    passion, learning and findings on this web application.</p>

        </div>
    </div>
</section>
{% endblock %}
