<!-- Testimonials Annie Tsang-->
<div class="portfolio-modal modal fade" id="testimonials-Annie-Tsang" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Testimonials - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Annie Tsang</h2>
                            <!-- Icon Divider-->
                            {% include "/structures/divider.html" %}
                            <!-- Testimonials  - Text-->
                            <p class="mb-4">She is Hilary's student. She met Hilary when she was Secondary 3.</p>
                            <p class="mb-4">She is an artistic student from Hong Kong University Graduate Association College. She is a loyal user of SmartKits' <a href="/ig-story-vocabulary-book">Vocabulary Book</a>. She made impressive improvements within 1 year: </p>
                            <p class="mb-4">English:</p>
                            <ul>
                                <li>Score: 60 -> 83 for reading paper within <strong>the first year</strong></li>
                            </ul>
                            <p class="mb-4">She attained lv5* in HKDSE English Paper 1 (reading) and 2 (Writing), lv5 in English Paper 3 (Listening and Integrated Skills) and 4 (Speaking).</p>
                            <p class="mb-4">She entered The University of Hong Kong to study Fine Arts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>