<!-- Testimonials Maggie Wong-->
<div class="portfolio-modal modal fade" id="testimonials-Maggie-Wong" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Testimonials - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Maggie Wong</h2>
                            <!-- Icon Divider-->
                            {% include "/structures/divider.html" %}
                            <!-- Testimonials  - Text-->
                            <p class="mb-4">She is Hilary's student. She met Hilary when she was Secondary 4.</p>
                            <p class="mb-4">She is a sporty student from Tak Nga College. She is a loyal user of SmartKits' <a href="/question-keyword-dictionary">Question Keyword Dictionary</a>. She hates Physics but she made impressive improvements within 1 month: </p>
                            <p class="mb-4">Physics:</p>
                            <ul>
                                <li>Score: 15 -> 51 for Physics within <strong>3 weeks</strong></li>
                            </ul>
                            <p class="mb-4">She attained lv2 in HKDSE Physics, given that she only mastered 50% of one module.</p>
                            <p class="mb-4">She entered Chinese Culinary Institute to study Higher Diploma in Culinary Arts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>