<!-- Testimonials Serena Cheung-->
<div class="portfolio-modal modal fade" id="testimonials-Serena-Cheung" tabindex="-1" aria-labelledby="portfolioModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Testimonials - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Serena Cheung</h2>
                            <!-- Icon Divider-->
                            {% include "/structures/divider.html" %}
                            <!-- Testimonials  - Text-->
                            <p class="mb-4">She is Hilary's first student. She met Hilary when she was Secondary 3.</p>
                            <p class="mb-4">She is a hard-working student from St.Catherine's School. She is a loyal user of SmartKits' quizzes and <a href="/question-keyword-dictionary">Question Keyword Dictionary</a>. She made impressive improvements within 1 year, and received The Outstanding
                                Academic Award and Chung Chun Kit Scholarship 2017 (Bronze Prize in Junior Secondary
                                School Division): </p>
                            <p class="mb-4">Integrated Science:</p>
                            <ul>
                                <li>Score: 50 -> 80 within <strong>the first 3 months</strong></li>
                                <li>Form position: 150 -> Top 55 within <strong>the first 3 months</strong></li>
                            </ul>
                            <p class="mb-4">English:</p>
                            <ul>
                                <li>Score: 50 -> 80 for <strong>all papers</strong> within <strong>the first
                                        year</strong></li>
                                <li>Form position: 140 -> 44 within <strong>the first year</strong></li>
                            </ul>
                            <p class="mb-4">She attained lv5 in HKDSE Chemistry subject, lv4 in Physics, Biology, English Paper 2 (writing) and 3 (listening and integrated skills).</p>
                            <p class="mb-4">She entered The Hong Kong Polytechnic University to study Food Safety and Technology.</p>
                            <p class="mb-4">&nbsp;</p>
                            <p class="mb-4">Brochure of 2017 Chung Chun Kit Memorial Scholarship Presentation Ceremony</p>
                            <img src="{{url_for('static', filename='img/testimonials/testimonial-achievement1.jpg')}}" alt="acheivement" width="100%" height="auto"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>