<section class="page-section portfolio" id="testimonials">
    <div class="container">
        <!-- Testimonials Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">Testimonials</h2>
        <!-- Icon Divider-->
        {% include "/structures/divider-light.html" %}
        <!-- Testimonials Grid Items-->
        <div class="row justify-content-center">
            <!-- Testimonials Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#testimonials-Serena-Cheung">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Serena Cheung</p>
                            <p><i>"I've never thought of choosing Physics, Chemistry, and Biology as my electives before meeting Hilary. SmartKits kindled my interest in sceince subjects, and helped me survive every test and quiz."</i></p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/testimonials/head1.png')}}"
                        alt="Serena Cheung" />
                </div>
            </div>
            <!-- Testimonials Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#testimonials-Annie-Tsang">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Annie Tsang</p>
                            <p><i>"I don't think learning English is fun until I found IG Story Vocabulary Book!"</i></p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/testimonials/head2.png')}}"
                        alt="Annie Tsang" />
                </div>
            </div>
            <!-- Testimonials Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#testimonials-Maggie-Wong">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Maggie Wong</p>
                            <p><i>"I would have given up Physics without SmartKit."</i></p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/testimonials/head3.png')}}"
                        alt="Maggie Wong" />
                </div>
            </div>
            <!-- Testimonials Item 4-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#testimonials-Alvin-Chan">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Alvin Chan</p>
                            <p><i>"I've spent years to find a way to automatically generate interior angles of a triangle - Now I can enjoy benefits of using SmartKits!"</i></p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/testimonials/head4.png')}}"
                        alt="Alvin Chan" />
                </div>
            </div>
            <!-- Testimonials Item 5-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#testimonials-Ivan-Wong">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <p>Ivan Wong</p>
                            <p><i>"I really love the Question Keyword Dictionary because it is tackling my students' painpoints!"</i></p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/testimonials/head5.png')}}"
                        alt="Ivan Wong" />
                </div>
            </div>
        </div>
    </div>
</section>