{% extends "base.html" %}

{% block content %}
<section class="page-section bg-white mb-0" id="is-polygon-by-interior-angle-quiz">
    <div class="container">
        <p class="lead mb-0">Start doing 5 random interior angle sum quizzes <strong>for polygons</strong>.
        </p>
        <p class="lead mb-0">Choose if sum of provided interior angles forms a valid polygon</strong>.
        </p>
        <br />
        <div class="container mx-auto d-flex align-items-center flex-row">
            <form action="/is-polygon-by-interior-angle-sum-quiz/results" method="POST">
                <table id="is-polygon-by-interior-angle-quiz-questions" class="table-striped table xl">
                    <thead>
                        <tr>
                            <th>Interior Angles</th>
                            <th>Number of Sides</th>
                            <th>Is a Valid Polygon?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <input class="form-control" hidden="true" id="quizId" name="quizId" value="{{ quizId }}">
                        {% for question, side, angleSum, goodAngleSum in combinedData %}
                        <tr>
                            <td>{{ question }}</td>
                            <td>{{ side }}</td>
                            <td>
                                <select class="form-select" id="answerInput" name="answerInput">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                  </select>
                                <input class="form-control" hidden="true" id="question" name="question" value="{{ question }}">
                                <input class="form-control" hidden="true" id="numberOfSides" name="numberOfSides" value="{{ side }}">
                                <input class="form-control" hidden="true" id="angleSum" name="angleSum" value="{{ angleSum }}">
                                <input class="form-control" hidden="true" id="correctAngleSum" name="correctAngleSum" value="{{ goodAngleSum }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="container mx-auto d-flex align-items-center flex-row">
            <a class="btn btn-xl btn-outline-secondary" onclick="reset()">Reset questions</a>
        </div>
        <br />
        <div class="container mx-auto d-flex align-items-center flex-row">
            <button class="btn btn-xl btn-outline-primary" type="submit">Submit</button>
        </div>
    </div>
</section>

<!-- Background music player -->
<audio controls autoplay loop>
    <source src="{{url_for('static', filename='audio/bgm/chill.mp3')}}" type="audio/mpeg">
</audio>

{% endblock %}

{% block script %}
{% include "/structures/scripts/script-reset.html" %}
{% endblock %}