<section class="page-section bg-primary text-white mb-0" id="benefits">
    <div class="container">
        <!-- Benefits Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Benefits of using SmartKits</h2>
        <!-- Icon Divider-->
        {% include "/structures/divider-light.html" %}
        <!-- Benefits Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">Educators</p>
                <ul>
                    <li><p class="lead">Generate renovative and useful teaching materials with a better presentation</p></li>
                    <li><p class="lead">Analyze your students' performance and ideas</p></li>
                </ul>
            </div>
            <div class="col-lg-4 ms-auto">
                <p class="lead">Students</p>
                <ul>
                    <li><p class="lead">Revise with colorful and interactive materials</p></li>
                    <li><p class="lead">Keep track of your learning progress</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>