{% extends "base.html" %}

{% block content %}
{% include "/index/features/features.html"%}
{% include "/index/features/features-random-item-picker.html" %}
{% include "/index/features/features-quizzes.html" %}
{% include "/index/features/features-ig-story-vocabulary-book.html" %}
{% include "/index/features/features-question-keyword-dictionary.html" %}
<!-- Benefits Section-->
{% include "/index/benefits.html" %}
<!-- Testimonials Section-->
{% include "/index/testimonials/testimonials.html" %}
{% include "/index/testimonials/testimonials-Serena-Cheung.html" %}
{% include "/index/testimonials/testimonials-Annie-Tsang.html" %}
{% include "/index/testimonials/testimonials-Maggie-Wong.html" %}
{% include "/index/testimonials/testimonials-Alvin-Chan.html" %}
{% include "/index/testimonials/testimonials-Ivan-Wong.html" %}
{% endblock %}