<!-- Features question-keyword-dictionary-->
<div class="portfolio-modal modal fade" id="features-question-keyword-dictionary" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Features - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Question Keyword Dictionary</h2>
                            <!-- Icon Divider-->
                            {% include "/structures/divider.html" %}
                            <!-- Features  - Text-->
                            <p class="mb-4">Get puzzled when reading questions?</p>
                            <p class="mb-4">Let's get hint from keywords!</p>
                            <a class="btn btn-primary" href="/question-keyword-dictionary">
                                <i class="fas fa-arrow-right"></i> Go!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>