<!-- Features quizzes-->
<div class="portfolio-modal modal fade" id="features-quizzes" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Features - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Quizzes</h2>
                            <!-- Icon Divider-->
                            {% include "/structures/divider.html" %}
                            <!-- Features  - Text-->
                            <p class="mb-4">We have quizzes for English, Mathemtics, and Physics!</p>
                            <p class="mb-4">Let's see what quizzes you need!</p>
                            <p class="mb-4">&nbsp;</p>
                            <p class="mb-4">Mathematics</p>
                            <a class="btn btn-primary" href="/is-polygon-by-interior-angle-sum-quiz">
                                <i class="fas fa-arrow-right"></i> Is Polygon By Interior Angle Sum Quiz
                            </a>
                            <p class="mb-4">&nbsp;</p>
                            <a class="btn btn-primary" href="/multiplication-quiz">
                                <i class="fas fa-arrow-right"></i> Multiplication Quiz
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>